<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID CARD PORTAL</title>
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    <div>
      <img src="nitt.png" alt="" width="150" height="150" class="image">
    </div>
    <div class="center">
      <h1>ID CARD PORTAL</h1>
        <div class="signup_link">
          <a href="/auth">Login with DAuth</a>
        </div>
    </div>

  </body>
</html>
