<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- image preview -->
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">


    <!-- filepond css -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">


    <!-- file encode -->
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>

    <!-- image preview -->
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>

    <!-- image resize -->
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>

    <!-- filepond cdn -->
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>

    <script defer src="/js/filePond.js"></script>

    <title>NITT ID Card 2021</title>
</head>
<body>
    <%- body %>
</body>
</html>