<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download ID Card</title>
    <link rel="stylesheet" href="css/result.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="display: flex;align-items: center;justify-content: center;min-height: 100vh;">

    <div class="cards" style="display: flex;align-items: center;justify-content: space-around;flex-wrap: wrap;">

        <!-- frontside of the card -->
        <div class="card" style="width: 400px;box-shadow: 2px 4px 12px 4px rgba(0, 0, 0, 0.06);border-radius: .5rem;padding: .25em;margin: 0 3em;height: 640px;">
            <!-- top image for college logo -->
            <div class="card-header" style="width:100%; display: flex;align-items: center;flex-wrap: wrap; justify-content: space-around;margin: .5em auto;background: cornsilk;height: 100px;">
                <img src="nitt.png" alt="" width="100" height="100" class="image">
                <h5>Nationnal Institute of Technology<br>
                 Tiruchirappalli - 620015, Tamil Nadu<br>
                 INSTITUTE : +91-431-2503000<br>
                 Website : http://www.nitt.edu</h5>
            </div>

            
            <!-- the identity-card -->
            <div class="card-identity" style='margin: .75em auto 0;
            background: brown;
            color: white;
            width: fit-content;
            padding: .3em 1.5em;
            border-radius: 1em;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.25rem;'>
                identity card
            </div>

            <!-- now the image -->
            <div class="card-img" style="margin: 1em auto 0;
            width:200px;
            height:180px;
            background: whitesmoke;">
                <!-- <img src="#" alt="student image"> -->
            </div>

            <!-- now the card details -->
            <div class="infos" style="display: flex;background: whitesmoke; flex-direction: column;align-items: center;margin-top: 1.5em;">
                <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                    
                    <div class="info-key" style="width:50%;justify-self: center;">Name : </div>
                    <div class="info-value" style="justify-self: center;">Jaiharishan AV</div>

                </div>
                <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                    
                    <div class="info-key" style="width:50%;justify-self: center;">RollNo : </div>
                    <div class="info-value" style="justify-self: center;">114120052</div>

                </div>
                <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                    
                    <div class="info-key" style="width:50%;justify-self: center;">Branch : </div>
                    <div class="info-value" style="justify-self: center;">B.tech-PROD</div>

                </div>
                <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                    
                    <div class="info-key" style="width:50%;justify-self: center;">Batch : </div>
                    <div class="info-value" style="justify-self: center;">2020-2024</div>

                </div>
            </div>

        </div>

        <!-- backside of the card -->
        <div class="card" style="width: 400px;box-shadow: 2px 4px 12px 4px rgba(0, 0, 0, 0.06);border-radius: .5rem;padding: .25em;margin: 0 3em;height: 640px;">

            <!-- top image for college logo -->
            <div class="card-header" style="width:100%; display: flex;align-items: center;flex-wrap: wrap; justify-content: space-around;margin: .5em auto;background: cornsilk;height: 100px;">
                <img src="nitt.png" alt="" width="100" height="100" class="image">
                <h5>Nationnal Institute of Technology<br>
                 Tiruchirappalli - 620015, Tamil Nadu<br>
                 INSTITUTE : +91-431-2503000<br>
                 Website : http://www.nitt.edu</h5>
            </div>
            <!-- now the card details -->
            <div class="infos" style="display: flex;background: whitesmoke; flex-direction: column;align-items: center;margin-top: 1.5em;">
                <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                    
                    <div class="info-key" style="width:50%;justify-self: center;">D.o.B : </div>
                    <div class="info-value" style="justify-self: center;">14.07.2003</div>
    
                </div>
                <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                    
                    <div class="info-key" style="width:50%;justify-self: center;">B.G : </div>
                    <div class="info-value" style="justify-self: center;">A1+VE</div>
    
                </div>
                <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                    
                    <div class="info-key" style="width:50%;justify-self: center;">Email ID : </div>
                    <div class="info-value" style="justify-self: center;">114120052@nitt.edu</div>
    
                </div>
                <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                    
                    <div class="info-key" style="width:50%;justify-self: center;">Address : </div>
                    <div class="info-value" style="width:50%;justify-self: center;">F2, 3rd block pace prana, padikuppam, annanagar, chennai-600040 Tamil Nadu</div>
    
                </div>
                <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                    
                    <div class="info-key" style="width:50%;justify-self: center;">Contact : </div>
                    <div class="info-value" style="justify-self: center;">+91 7550200764</div>
    
                </div>
            </div>

        </div>

        <dir id="print">
            <button class="print-btn" onClick="printPDF()" ><i class="fa fa-download"></i> Download</button>
        </dir>
    </div>

    <script>
        function printPDF () {
            document.getElementById('print').style.visibility='hidden';
            window.print();
            document.getElementById('print').style.visibility = 'visible'
        }
    </script>
        
</body>
</html>
