@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

body {
  font-family: 'PT Sans';
  background-color: white;
}

@page {
  size: portrait;
}

.print-btn {
    background-color: rgb(233, 64, 13);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .print-btn:hover {
    background-color: rgb(194, 72, 34);
  }